<p>Angular module for include LWC!</p>

****** <br/>
<vlocityomniscript-app-component run-mode="localScriptDef"></vlocityomniscript-app-component>
****** <br/>

<strong>Close lwc angular module component</strong>
